<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="user-scalable=0, width=device-width, minimum-scale=1.0">
    <title>Planbook</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/stylesheet.css" rel="stylesheet" media="screen">
    <link rel="icon" type="image/png" href="favicon.png">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Planbook</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <li id="username"> <a href="/settings" >  </a></li>
          <li id="logoutButton"> <a href="/logout">Logout</a></li>
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div class="container hidden-xs">
    <div class="row" id="navbtns">
      <div class="col-sm-1 col-sm-offset-1"><button class="btn btn-primary btn-xs" id="back">&laquo;</button></div>
      <div class="col-sm-1 col-sm-offset-3"><button class="btn btn-primary btn-xs" id="saveIndicator" data-toggle="tooltip" data-placement="bottom" title="All data is saved." onclick="saveWeek(getAssignmentValues());"><span class="glyphicon glyphicon-ok-circle"></span></button></div>
      <div class="col-sm-1 col-sm-offset-3"><button class="btn btn-primary btn-xs" id="next">&raquo;</button></div>
    </div>
    <div class="row row-offcanvas row-offcanvas-right stuff">

  <!--   <div class="col-sm-1">
      <div id="subjects">
      </div>
      
    </div> -->
    <div class="row">
      <div class="col-sm-9">
        <div class="col-sm-2 day col-sm-offset-2" id="monday"><span>Monday</span></div>
        <div class="col-sm-2 day" id="tuesday"> <span>Tuesday</span></div>
        <div class="col-sm-2 day" id="wednesday"> <span>Wednesday</span></div>
        <div class="col-sm-2 day" id="thursday"> <span>Thursday</span></div>
        <div class="col-sm-2 day" id="friday"> <span>Friday</span></div>
      </div>
      <div class="col-sm-3">
        <div class="col-sm-6 day" id="saturday"><span>Saturday</span></div>
        <div class="col-sm-6 day" id="sunday"><span>Sunday</span></div>
      </div>

    </div>
    <div class="col-sm-9"> <!-- Main Column -->
      <div id="planner">

      </div>

      <div class="row" name="#">
        <div class="col-sm-1"><button id="add" style="margin-top: 37px; position: relative; bottom: 17px;" class="btn btn-sm btn-default">+</button></div>
      </div>
    </div>
    <div class="col-sm-3" id="sidebar"> 

      <div class="row" id="weekend">
        <div class="col-sm-6"><textarea class="ta weekendNote" id="saturdayNotes"></textarea></div>
        <div class="col-sm-6"><textarea class="ta weekendNote" id="sundayNotes"> </textarea> </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="note" id="title"><center>Notes</center></div>
          <div><textarea id="box" class="note"></textarea></div>
        </div>
      </div>
      <div class="row">
      </div>

  </div>
    </div>
  </div>

  <div class="container visible-xs mAll">
    <center>
      <div class="mobile"></div>
    </center>
    <button id="mback" class="btn btn-default btn-xs mnav">&laquo;</button>
    <button id="msave" class="btn btn-default btn-xs mnav">Save</button>
    <button id="mnext" class="btn btn-default btn-xs mnav">&raquo;</button>
  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/pouchdb.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/listeners.js"></script>
    <script>$('[data-toggle="tooltip"]').tooltip({'placement': 'bottom'});</script>
    <!-- // <script src="js/snake.js"></script> -->

  </body>

</html>